## Tuples

1) List - Ordered, mutable

2) Tuple - Ordered, Unmutable

In [4]:
#Tuple is creted using Round brackets
li = (2,1,3,6)
print (li)
print(len(li))
print(type(li))

(2, 1, 3, 6)
4
<class 'tuple'>

In [20]:
li = (2,1,3,6) #element wise printing
for x in li:
    print(x)
for i in range(len(li)):
    print('Elemts',li[i])

2
1
3
6
Elemts 2
Elemts 1
Elemts 3
Elemts 6

In [5]:
li = (1)
print(type(li))
tup = (1,)
print(type(tup))

<class 'int'>
<class 'tuple'>

In [11]:
# editing a tuple using list
tup = (1,4,6,9,12)
print(type(tup))

li = list(tup)
print(type(li))
li[1] = 10
li.append(11) # adding using list
li.remove(12) # removing using list 
print(li)

tup1 = tuple(li)
print(tup1)
print(len(tup1))
tup1.sort() # tuple dosen't have sort function therefore output will be same as input

<class 'tuple'>
<class 'list'>
[1, 10, 6, 9, 11]
(1, 10, 6, 9, 11)
5

AttributeError: 'tuple' object has no attribute 'sort'

In [11]:
# adding elements using concatenation method
tup1 = (1,2,3)
tup2 = (5,6,7)
tup3 = tup1+tup2
print(tup3)

(1, 2, 3, 5, 6, 7)

In [13]:
tup1 = (1,2,4,6,2,7,4,8,4)
print(tup1.count(4))   #counts the frequency of an element

3

In [14]:
tup1 = (1,2,4,6,2,7,4,8,4)
print(tup1.index(4))   #returns the index of an element

2

In [9]:
#accessing using index slincing
tup1 = (1,2,4,6,2,7,4,8,4)
print(tup1[2:5]) # return from index 2 to index (5-1)
print(tup1[:5]) # returns from staring index i.e. 0 to index (5-1)
print(tup1[2:]) # returns from index 2 to end index 
print(tup1[-5:-2]) # returns from (last 2nd - 1) index to last 5th index

(4, 6, 2)
(1, 2, 4, 6, 2)
(4, 6, 2, 7, 4, 8, 4)
(2, 7, 4)

In [10]:
# if element exists
tup1 = (1,2,4,6,2,7,4,8,4)
if 3 in tup1:
    print("Yes")
else:
    print("No")

No

In [14]:
#unpacking a tuple
tup = ('Arjun', 'Aarna', 'Aisha')
Stud1 , Stud2 , Stud3 = tup
print(Stud1)
print(Stud2)
print(Stud3)

Arjun
Aarna
Aisha

In [16]:
#If the number of variables is less than the number of values, 
#you can add an * to the variable name and the values will be assigned to the variable as a list:
fruits = ("parrot", "sunflower", "cherry", "rose", "Cola")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

parrot
sunflower
['cherry', 'rose', 'Cola']

In [23]:
#If you want to multiply the content of a tuple a given number of times, you can use the * operator:
tup=(1,2,3,4,5)
tup_1 = tup*2
print(tup_1)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

## Sets

1) list - ordered, mutable, indexed, duplicates, [ ]

2) Tuple - ordered, immutable, indexed, duplicates, ( )

3) Set - unordered, immutable, non-indexed, no duplicates, { }

In [15]:
s1 = {1,2,3,4}
print(type(s1))

<class 'set'>

In [26]:
print(s1)
for x in s1:
    print(x)
#no indexing 
for x in range(len(s1)):  # not accessible using this method # because of no indexxing in sets 
    print('elemts',s1[x])

{1, 2, 5, 9, 11}
1
2
5
9
11

TypeError: 'set' object is not subscriptable

In [17]:
#sorted
s1 = {1,2,3,4}
s1.add(7)  # We can add elements in sets 
print(s1)

{1, 2, 3, 4, 7}

In [27]:
# adding elements
# only unique elements exists
s1 = {1,2,3,4}
s1.add(45) # using .add

# adding two sets
s1.update({3,4,6,9,10}) # using .update #from one set to another 
print(s1)
print(type(s1))

{1, 2, 3, 4, 6, 9, 10, 45}
<class 'set'>

In [19]:
s1.remove(4) # removing an element
s1

{1, 2, 3, 6, 9, 10}

In [20]:
s1.remove(12)

KeyError: 12

In [22]:
s1.discard(12)  #checks if the element is present or not if it is present then it removes otherwise there is no action taken
s1

{1, 2, 3, 6, 9, 10}

In [27]:
s2 = {4,7,2,88,32,76,21,12}
print(s2)  #prints elements in any order

{32, 2, 4, 7, 76, 12, 21, 88}

In [28]:
s2.pop() #remove the last item
print(s2)

{2, 4, 7, 76, 12, 21, 88}

In [ ]:
s = {4,7,2,88,32,76,21,12}
s.clear() # removes all the elements makes empty set
del s # deletes the set from the memory

In [3]:
#del s2  #delets the set
#s2.clear() #clears the elememts of set
s1 = {1,5,2,11,9}
s2 = {3,6,8,12,11}
print(s1)
print(s2)

s3 = s1.union(s2)
print(s3)

s4 = s1.intersection(s2)
print(s4)

s5 = s1.difference(s2)
print(s5)

{1, 2, 5, 9, 11}
{3, 6, 8, 11, 12}
{1, 2, 3, 5, 6, 8, 9, 11, 12}
{11}
{1, 2, 5, 9}

In [34]:
#The intersection_update() method will keep only the items that are present in both sets.

x = {6,7,8,9,1,10}
y = {1,2,3,4,5,8}

x.intersection_update(y)
print(x)

{8, 1}

In [35]:
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets
x = {6,7,8,9,1,10}
y = {1,2,3,4,5,8}

x.symmetric_difference_update(y)
print(x)

{2, 3, 4, 5, 6, 7, 9, 10}

In [36]:
#The symmetric_difference() method will return a new set, 
#that contains only the elements that are NOT present in both sets.

x = {6,7,8,9,1,10}
y = {1,2,3,4,5,8}

x.symmetric_difference(y)
print(x)

{1, 6, 7, 8, 9, 10}